@model Pacote
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Cadastrar Pacote";
}

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Cadastro de Pacote</h1>
    <h1 class="h6 mb-3 font-weight-normal">@ViewBag.feedbackcad</h1>
</div>
<form method="POST">
    <div class="form-group">
        <label asp-for="Nome">Nome do Pacote: </label>
        <input asp-for="Nome" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Origem">Origem do Pacote: </label>
        <input asp-for="Origem" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Destino">Destino do Pacote: </label>
        <input asp-for="Destino" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Atrativos">Atrativos do Pacote: </label>
        <input asp-for="Atrativos" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Saida">Data de Saída:</label>
        <input asp-for="Saida" type="text" placeholder="MM/DD/YYYY" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Retorno">Data de Retorno:</label>
        <input asp-for="Retorno" type="text" placeholder="MM/DD/YYYY" class="form-control"/>
    </div>
    <p>Id do Criador: @Context.Session.GetInt32("idUsuario")</p>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Criar"/>
    </div>
</form>