@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Destino Certo</h1>
    <img src="~/img/banner_principal.jpg" style="width: 100%; height: 300px;">
    <p class="pt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus, ipsum id gravida laoreet, massa ex finibus tellus, placerat tristique urna risus in diam. Integer a facilisis eros. Phasellus vitae cursus elit. Nunc mattis magna eget ex suscipit posuere. Fusce posuere ut urna at fringilla. Fusce feugiat lorem ante, eu vulputate turpis ornare nec. Donec sollicitudin sapien vel ipsum finibus, eget commodo orci ultricies. Mauris orci augue, euismod sed purus vitae, tincidunt laoreet urna. Nullam porta lacinia lorem, eu maximus massa auctor quis. In porta quam vel leo laoreet, et commodo metus iaculis. Sed in mauris egestas, tincidunt erat eget, cursus est.</p>
</div>
<div class="text-center">
    <h3>Quem Somos?</h3>
    <p class="text-justify">Nunc eget facilisis neque, in consectetur elit. Vestibulum malesuada velit ac erat euismod, in iaculis eros aliquet. Maecenas sit amet est in odio lacinia dignissim. Fusce nec sapien eu risus vulputate elementum nec eu lectus. Proin pharetra interdum augue, id cursus ante porttitor sit amet. Aliquam eget dictum est.</p>
</div>